
/* =========================================
   SERVICIOS
========================================= */

.cv-services-list p {
  margin: 10px 0;
  color: #374151;
  text-align: center;
  font-size: 1rem;
}
